<?xml version="1.0" encoding="utf-8" ?>  
<configuration>  
    <connectionStrings>  
      <add name="FooConnection" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=FooDb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />  
    </connectionStrings>  
</configuration>