<?xml version="1.0" encoding="utf-8" ?>  
<configuration>  
    <connectionStrings>  
      <add name="FooConnection" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=FooDb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />  
      <add name="DefaultConnection" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=FooDb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
      <add name="Itddd" connectionString="Server=(localdb)\\mssqllocaldb;Database=ItdddContext-1;Trusted_Connection=True;MultipleActiveResultSets=true" />
    </connectionStrings>  
</configuration>